@import 'variables';
// ============================================
// === PRODUCTS SECTION =======================
.products {
  &-wrap {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    }
  &-title {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 10px;
    }
  &-text {
    margin-bottom: 45px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: #9f9f9f;
    }
  &-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    .product-card {
      width: 360px;
      background-color: #fbfbfb;
      position: relative;
      margin-bottom: 30px;
      .product-img {
        width: 100%;
        height: 420px;
        background-color: #e9e9e9;
        }
      }
    .product-img_darken {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 420px;
      background-color: rgba(58, 56, 56, 0.83);
      }
    .product-card:hover {
      box-shadow: 0 0 5px #ececec;
      cursor: pointer;
      transform: scale(1.1);
      transition: 0.3s;
      }
    .product-card:hover .product-img_darken {
      display: flex;
      justify-content: center;
      align-items: center;
      }
    .product-btn {
      display: flex;
      align-items: center;
      text-align: center;
      width: 150px;
      margin: 10px auto;
      padding: 10px 10px;
      border: 1px solid #ffffff;
      color: #ffffff;
      .add__text {
        font-size: 14px;
        line-height: 17px;
        color: whitesmoke;
        text-align: center;
        }
      }
    .product-btn:hover {
      box-shadow: 0 0 2px 2px #ffffff;
      }
    }
  .product-content {
    padding: 25px 16px 20px;
    text-align: left;
    .product-title {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.05em;
      color: black;
      margin-bottom: 12px;
      }
    .product-description {
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      color: #5d5d5d;
      margin-bottom: 18px;
      }
    .product-price {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      color: $main-color;
      }
    }
  .all__products-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 95px;
    .button-allProduct {
      display: inline-block;
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      // min-width: 200px;
      // max-width: 212px;
      padding: 15px 32px;
      margin: 0 auto;
      color: $main-color;
      border: 1px solid $main-color;
      }
    .button-allProduct:hover {
      color: whitesmoke;
      border: 1px solid $main-color;
      background-color: $main-color;
      }
    }
  }