.advantages {
  padding: 104px 0px;
  background-color: #222224;
  margin-top: 95px;

  &__box {
    display: flex;
    justify-content: space-between;
    }

  &__item {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    justify-content: space-between;
    text-align: center;
    height: 133px;
    }

  &__heading {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FBFBFB;
    }

  &__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    }
  }