// ============================================
// === CATALOG - BREADCRUMBS SECTION ==========
// === DUE TO PRODUCT PAGE THIS SECTION TO BE HIDED ====
.breadcrumbs {
  background-color: #f8f3f4;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  // margin: 0 0 45px 0;
  .breadcrumbs__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    .breadcrumbs__current {
      padding: 60px 0;
      font-size: 24px;
      line-height: 29px;
      color: $main-color;
      }
    }
  .breadcrumbs__list {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    .breadcrumbs__link>a {
      color: #636363;
      }
    .breadcrumbs__link>a:hover {
      color: $main-color;
      }
    .breadcrumbs__link_red {
      color: $main-color;
      font-weight: 700;
      }
    .breadcrumbs__link+.breadcrumbs__link {
      padding-left: 8px;
      }
    .breadcrumbs__link+.breadcrumbs__link::before {
      display: inline-block;
      padding-right: 8px;
      color: #636363;
      content: "/";
      }
    }
  }