.header {
    background-color: white;
    padding: 17px 0 18px;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .col-left .col-right {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .col-right {
            .header-item:not(:last-child) {
                margin-right: 30px;
            }
            .header-item:hover a {
                fill: $main-color;
            }
            .header-item:active a {
                fill: $main-color;
            }
            .header-item:focus a {
                fill: $main-color;
            }
        }
    }
    &-logo {
        margin-right: 41px;
    }
    & .cart,
    & .account {
        margin-left: 20px;
    }
}

// ============= ! ============
.cart {
    position: relative;
    &-circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -85%;
        right: -30%;
        border-radius: 50%;
        width: 60%;
        color: #fff;
        font-size: 12px;
        border: 1px solid transparent;
        background-color: $main-color;
    }
    &:hover &-circle {
        color: #222222;
        background-color: #ffffff;
        transform: $main-transform;
        transition: $main-transition - 0.1;
    }
}