// ===========================================
// == MEDIA QUERIES =========================
@media(max-width: 1190px) {
  .wrap {
    width: 768px;
    }
  .category {
    width: 230px;
    }
  .category:last-child {
    width: 100%;
    }
  .product-card {
    margin-right: 30px;
    }
  .product-card:nth-child(2) {
    .product-cards {
      justify-content: center;
      }
    }
  }

@media(max-width: 768px) {
  .wrap {
    width: 320px;
    }
  .promo-title {
    padding: 0;
    text-align: center;
    margin: 0 auto;
    max-width: 250px;
    }
  .category {
    width: 100%;
    }
  }
