// == MENU =============
.menu {
    min-width: 232px;
    height: 764px;
    //height: calc(100vh - 77px);
    position: absolute;
    top: 100%;
    transition: 0.3s;
    z-index: 2;
    right: 0;
    visibility: hidden;
    //transform: translateX(250px);
    overflow: auto;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    background-color: antiquewhite;
    &-hidden {
        will-change: transform;
        visibility: visible;
        transform: translateX(0px);
    }

    &__cover {
        padding: 37px 34px 0 34px;
        position: relative;
    }
    &__item {
        &:not(:last-child) {
            padding-bottom: 20px;
        }
        & ul {
            list-style-type: none;
            & li a {
                font-size: 14px;
                line-height: 17px;
                color: #6F6E6E;
                margin-top: 11px;
                margin-left: 22px;
                display: inline-block;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        padding-bottom: 24px;
    }
    &__category {
        font-size: 14px;
        line-height: 17px;
        color: $main-color;
        font-weight: 400;
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        outline: none;
        &::-webkit-details-marker {
            display: none;
        }
    }
    &__btn-close {
        background-color: transparent;
        display: flex;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 16px;
        right: 16px;
        &:hover svg {
            fill: $main-color;
        }
    }
}