// == COLORS =================
$main-color: #f16d7f;
$main-color-hover: #e05c6e;
$bgrnd-dark-color: rgba(34, 34, 34, 0.9);
$gradient-1: rgba(138, 112, 100, 0.6);
$gradient-2: rgba(7, 5, 5, 0.4);
// == TRASFORMATIONS ==========
$main-transform: scale(1.1);
$main-transition: 0.3s;
// == SHIFTS ==================
$shift: 50px;